@model CookBook.Models.Recipe
@using CookBook.Models

@{
    ViewBag.Title = Html.DisplayFor(m => m.Name);
}

<div class="submenu">
    <button type="button" onclick='location.href="@Url.Action("Index", "Recipes")"'
            class="btn">
        Index
    </button>
    <button type="button" onclick='location.href="@Url.Action("Edit", "Recipes", new { id = Model.RecipeID })"'
            class="btn">
        Edit
    </button>
    <button type="button" onclick='location.href="@Url.Action("Delete", "Recipes", new { id = Model.RecipeID })"'
            class="btn">
        Delete
    </button>
</div>
<h2>
    @Html.DisplayFor(model => model.Name)
</h2>

<p>
    @Html.DisplayFor(model => model.Description)
</p>

<hr />
<ul class="ingredientsList">
    @if (Model.Ingredients != null)
    {
        var list =
            from i in Model.Ingredients
            orderby i.SortIndex
            select i;

        Model.Ingredients = list.ToList();
        for (int rowIndex = 0; rowIndex < Model.Ingredients.Count(); rowIndex++)
        {
            <li>
                @(
                Html.DisplayFor(m => m.Ingredients[rowIndex].Quantity) + " " + Html.DisplayFor(m => m.Ingredients[rowIndex].UnitOfMeasurement)
                 + " " + Html.DisplayFor(m => m.Ingredients[rowIndex].Description)
                )
            </li>
        }
    }
</ul>
<p></p>

@if(Model.Servings != null) {
    <p>@Html.DisplayFor(model => model.Servings) @Html.DisplayNameFor(model => model.Servings)</p>
}

@if (Model.Procedures != null)
{
    var list =
    from i in Model.Procedures
    orderby i.StepOrder
    select i;

    Model.Procedures = list.ToList();
    <h3>@Html.DisplayNameFor(model => model.Procedures)</h3>
    <ol>
        @foreach (Procedure procedure in Model.Procedures)
        {
        <li>
            <p>@procedure.StepText</p>
        </li>
        }
    </ol>
}

@if (Model.Comments != null)
{
    <h3>@Html.DisplayNameFor(model => model.Comments)</h3>
    <p>@Html.DisplayFor(model => model.Comments)</p>
}

<hr />
<div class="row">
    @if (Model.PreperationTime != null)
    {
        <div class="col-md-3">@Html.DisplayNameFor(model => model.PreperationTime): @Html.DisplayFor(model => model.PreperationTime) minutes</div>
    }
    @if (Model.InactiveTime != null)
    {
        <div class="col-md-3">@Html.DisplayNameFor(model => model.InactiveTime): @Html.DisplayFor(model => model.InactiveTime) minutes</div>
    }
    @if (Model.CookTime != null)
    {
        <div class="col-md-3">@Html.DisplayNameFor(model => model.CookTime): @Html.DisplayFor(model => model.CookTime) minutes</div>
    }
</div>
<hr />
