@model PagedList.IPagedList<CookBook.Models.Recipe>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Recipes";
}

<h2>Recipes</h2>


@using (Html.BeginForm("Index", "Recipes", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "text-box single-line" })
        <button type="submit" class="btn btn-default">Search</button>
        <button type="button" onclick='location.href="@Url.Action("Create", "Recipes")"'
                class="btn btn-default">Create new</button>
    </p>
}

@foreach (var item in Model)
{
    <div class="well">
        <h4>@Html.ActionLink(item.Name, "Details", new { id = item.RecipeID })</h4>
        <p>@item.Description</p>
    </div>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
